@font-face {
    font-family: kiwiSoda;
    src: url(assets/KiwiSoda.ttf);

    font-family: coolvetica;
    src: url(assets/coolvetica-rg.otf);

    font-family: kaoly;
    src: url(assets/kaoly.ttf);
}

.inital {
    background-image: url(assets/bubbles-music-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url("assets/bubble-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 2;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

nav {
    width: 800px;
    margin: 20px auto;
    padding: 15px 35px;
    border-radius: 25px;
    /* gradient */
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0.75),
        rgba(240, 173, 218, 0.45)
    );
    /* glass effect CREDIT ITTT */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* subtle border */
    border: 1px solid rgba(255,255,255,0.5);
    /* soft shadow */
    box-shadow:
        0 4px 20px rgba(0,0,0,0.12),

        inset 0 1px 1px rgba(255,255,255,0.7);
}

html {
    scroll-behavior: smooth;
}

header * {
    display: inline;
    text-align: center;
}

header li {
    margin: 20px;
}

header li a {
    color: #314560;
    text-decoration: none;
    font-size: 20px;
}

/*https://stackoverflow.com/questions/6428783/css-style-a-specific-link
for specific link stylings*/
a[href="addConcert.html"] {
    color:#FFF9F5;
    font-size: large;
    background-color: #F58CB5;
    padding: 8px;
    border-radius: 20px;
}

main {
    color: #314560;
    text-decoration: none;
    text-align: center; 
}

.initial-page a {
    align-items: center;
    text-decoration: none;
    color: #FFF9F5;
    margin-top: 500px;
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}

h1 {
    font-family: kiwiSoda;
    font-size: 50px;
}

h2, h3, p, a {
    font-family: coolvetica;
}

.about-section {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 80px;
}

/* stops lines becoming too long */
.about-text {
    max-width: 500px;
}

.about-section .journal-coverImg {
    width: 50%;
    transform: rotate(3deg);
}

.about-section .journal-coverImg img {
    width: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* all buttons use this style */
.button, #submit {
    color: #FFF9F5;
    background: #F58CB5;
    text-decoration: none;
    border: 10px solid #F58CB5;
    border-radius: 9999px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

#submit {
    display: block;
    margin: 30px auto 0;
}

/* styling concert form under */

.form-page {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.concert-container {
    width: min(90%, 650px);
    padding: 35px;
    border-radius: 20px;
    background: rgb(255, 217, 234, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}

#concert-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.full-width {
    grid-column: 1/-1;
    text-align: center;
}

input, select, textarea {
    width: 100%;
    padding: 15px;
    border: 2px solid #314560;
    border-radius: 10px;
    background: transparent;
    font-size: 16px;
    color: #314560;
    box-sizing: border-box;
}

textarea {
    min-height: 180px;
    resize: none;
}

.journal-container h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 42px;
}

/* logo design */
.logo {
    width: 100%;
    text-align: center;
    margin-top: 0px;
}

.logo a {
    text-decoration: none;
    color:#314560;
    text-align: center;
    justify-content: center;
    font-weight: 60px;
    font-family: kaoly;
}

.concert-container .logo {
    font-size: 18px;
}

#submit {
    width: auto;
    grid-column: 1 / -1;
    justify-self: center;
    padding: 12px 30px;
    margin-top: 10px;
}

/* STYLING journal.html */

#journal-book {
    display: flex;
    width: min(95%, 1100px);
    height: 700px;
    margin: auto;
    margin-top: 80px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

/* how to do border of the diary page? */
.left-page, .right-page {
    flex: 1;
    padding: 40px;
    position: relative;
    background: repeating-linear-gradient(white, white 28px, #d9d9d9 29px); /* used super thin gradient for journl strips 
    https://css-tricks.com/stripes-css/
    */
    border-color: #F58CB5;
}

.spine {
    width: 30px;
    background: #f2f2f2;
}

.journal-page .polaroid {
    position: absolute;
    width: 140px;
    height: 170px;
    padding: 10px;
    margin-top: 150px;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.photo-1 {
    top: 40px;
    left: 40px;
    transform: rotate(-4deg);
}

.photo-2 {
    top: 120px;
    right: 50px;
    transform: rotate(3deg);
}

.photo-3 {
    top: 280px;
    left: 80px;
    transform: rotate(8deg);
}

.concert-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.journal-tab {
    position: absolute;
    top: -20px;
    left: 40px;
    width: 120px;
    padding: 18px 1px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color:#314560;
    background:#F58CB5;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    z-index: 2;
}

.journal-tab:hover {
    transform: scale(1.1, 1.1);
}

/* decorating journal arrows */
#prev-page, #next-page {
    background:#F58CB5;
    border: none;
    border-radius: 80px;
    color:#FFF9F5;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}

/* profile.html page */

.profile-page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 80px;
    padding: 140px 80px 80px;
    align-items: start;
}

.profile-page .diary-preview {
    width: 100%;
}

.profile-page .diary-preview img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.profile-page .diary-preview img:hover {
    transform: translateY(-8px) scale(1.03) rotate(-2deg);
}

.profile-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.profile-content h1 {
    font-size: 40px;
    color: #314560;
}

.stats {
    padding: 15px;
    border-radius: 18px;
    max-width: 700px;
    min-height: 100px;
    background: rgba(235,230,245,0.9);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.stats h2 {
    font-size: 20px;
}

.stats h3 {
    font-size: 16px;
}

.bottom-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.page-controls {
    position: absolute;
    bottom: -0px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;

}

/* decorating music player ! (same bg as nav) */
.music-player {
    padding: 20px;
    border-radius: 20px;
    max-width: 280px;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0.55),
        rgba(235,230,245, 0.25)
    );
    /* glass effect CREDIT ITTT */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* subtle border */
    border: 1px solid rgba(255,255,255,0.5);
    /* soft shadow */
    box-shadow:
        0 4px 20px rgba(0,0,0,0.12),

        inset 0 1px 1px rgba(255,255,255,0.7);
}
/* pointer not working */
.music-player .music-controls {
    cursor: pointer;
    text-decoration: none;
}

#prev-btn, #next-btn, #play-btn {
    background:#F58CB5;
    border: none;
    border-radius: 80px;
    color:#FFF9F5;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
}

/* not showing up??*/
.song-title {
    background-color: #f2f2f2;
}

.fav-artist {
    padding: 20px;
    border-radius: 20px;
    max-width: 280px;
    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0.55),
        rgba(235,230,245, 0.25)
    );
    /* glass effect CREDIT ITTT */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* subtle border */
    border: 1px solid rgba(255,255,255,0.5);
    /* soft shadow */
    box-shadow:
        0 4px 20px rgba(0,0,0,0.12),

        inset 0 1px 1px rgba(255,255,255,0.7);
}

/* marquee not decreaed
.music-player {
    width: 450px;
    line-height: 50px;
    background-color: #f2f2f2;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

.music-player h {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}

@keyframes music-player {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-100%, 0);}
}
*/